<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleGson" version="2.6.2.0" targetFramework="monoandroid71" />
  <package id="Naxam.Retrofit2.ConvertGson.Droid" version="2.1.0" targetFramework="monoandroid71" />
  <package id="Naxam.Retrofit2.Droid" version="2.1.0" targetFramework="monoandroid71" />
  <package id="Square.OkHttp3" version="3.5.0" targetFramework="monoandroid71" />
  <package id="Square.OkIO" version="1.11.0" targetFramework="monoandroid71" />
</packages>