<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleGson" version="2.8.0" targetFramework="monoandroid80" />
  <package id="Naxam.Mapbox.MapboxJavaCore" version="2.2.9" targetFramework="monoandroid80" />
  <package id="Naxam.Mapbox.MapboxJavaGeojson" version="2.2.9" targetFramework="monoandroid80" />
  <package id="Naxam.Retrofit2.ConvertGson.Droid" version="2.2.0" targetFramework="monoandroid80" />
  <package id="Naxam.SquareUp.OkHttp3.LoggingInterceptor" version="3.9.1.1" targetFramework="monoandroid80" />
  <package id="Square.OkHttp3" version="3.8.1" targetFramework="monoandroid80" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid80" />
  <package id="Square.Retrofit2" version="2.3.0" targetFramework="monoandroid80" />
</packages>